services:
    db:
        image: postgres:13
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: 1029
            POSTGRES_DB: shop
